@import "src/components/assets/styles/index";

.Settings {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logOut {
    position: absolute;

    @include media($mobile) {
      right: 8px;
      top: 8px;
    }
    @include media($tablet) {
      right: 24px;
      top: 24px;
    }
  }

  .cover {
    height: 200px;
  }

  .userCard {
    .card {
      background: #FFFFFF;
    }

    .table {
      width: 100%;

      .tableWrapper {
        display: flex;

        .tableLabelWrapper {
          display: flex;
          align-items: center;
          padding: 8px;

          .tableLabel {
            @include pageHeaderTitle;
            color: #28658e;

            @include media($mobile) {
              width: max-content;
            }
            @include media($tablet) {
              width: 150px;
            }
          }
        }

        .tableValueWrapper {
          width: 100%;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .tableValue {
            @include widgetTable;
            color: #49799A;

            @include media($mobile) {
              width: max-content;
            }
            @include media($tablet) {
              width: 150px;
            }
          }
        }
      }
    }
  }

}
