@import "src/components/assets/styles/index";

.Settings {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logOut {
    position: absolute;
    right: 24px;
    top: 24px;
  }

  .cover {
    height: 200px;
  }

  .userCard {
    .card {
      background: #FFFFFF;

    }

    .table {
      width: 100%;

      .tableWrapper {
        display: flex;

        .tableLabelWrapper {
          display: flex;
          align-items: center;
          padding: 8px;

          .tableLabel {
            width: 150px;
            @include pageHeaderTitle;
            color: #28658e;
          }
        }

        .tableValueWrapper {
          width: 100%;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .tableValue {
            width: 150px;
            @include widgetTable;
            color: #49799A;
          }
        }
      }
    }
  }

}
