.Settings {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    background: white;
    width: 100%;
    margin: 0 4px 24px 4px;
    padding: 24px;
    position: relative;

    .title {
      font: 600 20px/28px 'SF Pro Display', sans-serif;
    }

    .logOut {
      position: absolute;
      right: 24px;
      top: 24px;
    }
  }

  .cover {
    height: 200px;
  }

  .userCard {
    .card {
      background: #FFFFFF;

    }

    .table {
      width: 100%;
      .tableWrapper {
        display: flex;
        .tableLabelWrapper {
          display: flex;
          align-items: center;
          padding: 8px;

          .tableLabel {
            width: 150px;
            font: 600 20px/28px "SF Pro Display", sans-serif;
            color: #28658e;
          }
        }

        .tableValueWrapper {
          width: 100%;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .tableValue {
            width: 150px;
            font: 600 16px/24px "SF Pro Display", sans-serif;
            color: #49799A;
          }
        }
      }
    }
  }

}
