@import "src/components/assets/styles/index";

.BankAccounts {
  @include media($mobile) {
    background: none;
    padding: 0;
  }
  @include media($tablet) {
    background: #FFFFFF;
    padding: 24px;
  }
}