@import "src/components/assets/styles/index";

.Reports {
  width: 100%;
  min-height: 100vh;

  .header {
    background: white;
    margin: 0 4px 24px 4px;
    padding: 1px 24px 56px;

    .title {
      @include pageHeaderTitle;
    }
  }

  .tableWrapper {
    margin: 0 24px;
  }
}
