@import "src/components/assets/styles/index";

.ChangeLang {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  @include media($mobile) {
    padding: 12px;
  }
  @include media($tablet) {
    padding: 20px;

  }

  .content {
    .description {
      margin-right: 4px;
      @include changeLang;

      .lang {
        color: #1890ff;
      }
    }

    .ChangeLangBtn {
      color: #1890ff;
      @include widgetTable;

      @include media($mobile) {
        width: 90px;
      }
      @include media($tablet) {
        width: 120px;

      }
    }
  }

  .close {
    position: absolute;
    right: 12px;
  }

  .close > button {
    @include media($mobile) {
      padding: 0;
    }
    @include media($tablet) {
      padding: 8px;
    }
  }
}
