@import "src/components/assets/styles/index";

.Rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  padding: 24px;

  .contentWrapper {
    @include media($mobile) {
      width: 20em;
    }
    @include media($tablet) {
      width: 50em;
    }
  }
  .title {
    @include widgetValue;
    color: #28658e;
  }
}