@import "src/components/assets/styles/index";

.AddChallenge {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;

  @include media($mobile) {
    flex-direction: column;
    padding: 8px;
  }
  @include media($tablet) {
    flex-direction: row;
    padding: 24px;
  }

  .AddForm {
    height: 421px;
    border: 1px solid #1890ff;
    border-radius: 4px;

    @include media($mobile) {
      width: 20em;
      padding: 8px;
      margin-bottom: 12px;
    }
    @include media($tablet) {
      width: 40em;
      padding: 12px;
      margin-right: 24px;
      min-width: 300px;
      margin-bottom: 0;
    }
  }

  .listChallenge {
    border: 1px solid #1890ff;
    border-radius: 4px;

    @include media($mobile) {
      height: auto;
      width: 20em;
      padding: 8px;
    }
    @include media($tablet) {
      height: auto;
      width: 25em;
      padding: 12px;
      min-width: 300px;
    }
    @include media($desktop) {
      height: 421px;
      width: 25em;
      padding: 12px;
      min-width: 300px;
    }
  }
}
