.widgetTable {
  .table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 600 16px/24px 'SF Pro Display', sans-serif;
    color: #49799A;
  }

  .title {
    font: 600 16px/24px 'SF Pro Display', sans-serif;
    color: #49799A;
  }

  .value {
    font: 600 24px/34px 'SF Pro Display', sans-serif;
    color: #28658e;
  }

  .important {
    font: 600 18px/34px 'SF Pro Display', sans-serif;
    color: red;
  }
}