@import "src/components/assets/styles/index";

.widgetTable {
  .table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #49799A;

    @include widgetTable;
  }

  .title {
    color: #49799A;
    @include widgetTable;
  }

  .value {
    color: #28658e;
    @include widgetValue;
  }

  .important {
    @include widgetTable;
    color: red;
  }

  .Templates {
    &__content {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    &__header {
      .top {
        display: flex;
      }
    }
  }
}
