.ChangePassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e8e8e8;
  padding: 24px 12px;
  min-height: 100vh;

  .pageTitle {
    font: 400 56px/64px 'SF Pro Display', sans-serif;
    color: #000000;
    margin-bottom: 64px;
  }

  .ForgotPasswordCard {
    min-width: 330px;
    //max-width: 330px;
    padding: 24px;
    background: #ffffff;
    border-radius: 2px;

    .cardTitle {
      text-align: center;
      font: 600 20px/24px 'SF Pro Display', sans-serif;
      margin-bottom: 24px;
    }
  }
}