@import "src/components/assets/styles/index";

.PageHeader {
  position: relative;
  background: white;
  margin: 0 4px 24px 4px;

  .showMenuBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 8px;
    top: 8px;
  }

  @include media($mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 0 24px;

  }
  @include media($desktop) {
    display: block;
    padding: 1px 24px 56px;
  }

  .title {
    @include pageHeaderTitle;
  }
}
