@import "src/components/assets/styles/index";

.Dashboard {
  width: 100%;
  min-height: 100vh;

  .content {
    display: flex;
    flex-flow: row wrap;
    background: white;
    min-height: 228px;
    padding: 24px;

    @include media($mobile) {
      margin: 0 8px;
      padding: 12px;
    }
    @include media($tablet) {
      margin: 0 24px;
      padding: 24px;
    }
  }
}
