@import "src/components/assets/styles/index";

.RegistrationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e8e8e8;
    padding: 24px 12px;
    min-height: 100vh;

    .pageTitle {
        @include changePasswordTitle;
        color: #000000;
        margin-bottom: 16px;
    }

    .registrationCard {
        max-width: 648px;
        padding: 24px;
        background: #ffffff;
        border-radius: 2px;

        .cardTitle {
            text-align: center;
            @include pageHeaderTitle;
            margin-bottom: 24px;
        }

        .AuthForm {
            .groupFields {
                display: flex;
                justify-content: space-between;
            }
            .groupFields > div {
                flex: 1 1;
            }
            .groupFields > div:first-child {
                margin-right: 24px;
            }

            .birthday {
                .birthdayTitle {
                    @include birthdayTitle;
                }

                .topWrapper {
                    display: flex;
                    justify-content: space-between;
                }
                .topWrapper > div {
                    flex: 1 1;
                }
                .topWrapper > div:nth-child(-n + 2) {
                    margin-right: 24px;
                }
                .month {
                    flex: 1.5 !important;
                }

                .bottomWrapper {
                    display: flex;
                    justify-content: space-between;
                }
                .bottomWrapper > div {
                    flex: 1 1;
                }
                .bottomWrapper > div:first-child {
                    margin-right: 24px;
                }
            }

            .linkBtn {
                padding: 0 4px;
                color: #1890ff;
            }
        }

        .haveAccount {
            text-align: center;
            @include birthdayTitle;
            color: #595959;
            margin-top: 24px;
        }
    }
}
