.Form {
  position: relative;

  .formFooter {
    width: 100%;
    position: absolute;
    bottom: 24px;
    text-align: right;

    .btnWrapper {
      .reset {
        margin-right: 8px;
      }
      .submit {

      }
    }
  }
}
