@import "src/components/assets/styles/index";

.Customers {
  position: relative;
  min-height: 100vh;
  height: max-content;

  .AddCustomerBtn {
    position: absolute;
    right: 24px;
    @include media($mobile) {
      top: 94px;
    }
    @include media($desktop) {
      top: 24px
    }
  }


  .body {
    display: flex;
    flex-flow: row wrap;
    margin: 0 24px;
    min-height: 228px;
    padding: 24px;

    .wrapper {
      display: flex;
      flex-flow: column nowrap;
      min-width: 388px;
      height: 302px;
      border: 1px solid #E3E8EB;
      background: #FFFFFF;
      border-radius: 14px;
      margin-right: 24px;
      margin-bottom: 24px;
      padding: 24px;
      flex: 1 1;

      .title {
        padding: 0 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #243E48;
        margin-bottom: 12px;
      }

      .infoWrapper {
        display: flex;
        justify-content: center;
        width: 100%;

        .table {
          width: 100%;

          .tableWrapper {
            display: flex;

            .tableLabelWrapper {
              display: flex;
              align-items: center;
              padding: 8px;

              .tableLabel {
                width: 150px;
                font: 400 14px/16px "SF Pro Display", sans-serif;
                color: #28658e;
              }
            }

            .tableValueWrapper {
              width: 100%;
              padding: 4px;
              display: flex;
              align-items: center;
              justify-content: flex-end;

              .tableValue {
                width: 150px;
                font: 400 14px/16px "SF Pro Display", sans-serif;
                color: #49799A;
              }
            }
          }
        }
      }
    }
  }
}
