@import "src/components/assets/styles/index";

.Customers {
  position: relative;
  min-height: 100vh;
  height: max-content;

  .AddCustomerBtn {
    position: absolute;
    @include media($mobile) {
      top: 90px;
      right: 12px;
    }
    @include media($desktop) {
      top: 24px;
      right: 24px;
    }
  }


  .body {
    display: flex;
    flex-flow: row wrap;
    min-height: 228px;

    @include media($mobile) {
      flex-direction: column;
      padding: 8px;
      margin: 0;
    }
    @include media($tablet) {
      flex-direction: row;
      padding: 24px;
      margin: 0 24px;
    }

    .wrapper {
      display: flex;
      flex-flow: column nowrap;
      height: 302px;
      border: 1px solid #E3E8EB;
      background: #FFFFFF;
      border-radius: 14px;
      flex: 1 1;

      @include media($mobile) {
        margin-bottom: 12px;
        padding: 16px;
        height: max-content;
      }
      @include media($tablet) {
        margin-right: 24px;
        margin-bottom: 24px;
        padding: 24px;
        min-width: 388px;
        height: auto;
      }

      .title {
        text-align: center;
        padding: 0 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #243E48;
        margin-bottom: 12px;
      }

      .infoWrapper {
        display: flex;
        justify-content: center;
        width: 100%;

        .table {
          width: 100%;

          .tableWrapper {
            display: flex;

            .tableLabelWrapper {
              display: flex;
              align-items: center;
              padding: 8px;

              .tableLabel {
                font: 400 14px/16px "SF Pro Display", sans-serif;
                color: #28658e;
                @include media($mobile) {
                  width: max-content;
                }
                @include media($tablet) {
                  width: 150px;
                }
              }
            }

            .tableValueWrapper {
              width: 100%;
              padding: 4px;
              display: flex;
              align-items: center;
              justify-content: flex-end;

              .tableValue {
                font: 400 14px/16px "SF Pro Display", sans-serif;
                color: #49799A;


                @include media($mobile) {
                  width: max-content;
                }
                @include media($tablet) {
                  width: 150px;
                }
              }
            }
          }
        }
      }
    }
  }
}
