.CustomContentWrapper {
  .header {
    background: white;
    margin: 0 4px 24px 4px;
    padding: 4px 0 56px 24px;
  }
  .title {
    font: 600 20px/28px 'SF Pro Display', sans-serif;
  }
  .siteLayoutBackground {
    padding: 24px;
    background: #fff;
  }

  .alert {
    position: absolute;
    right: 24px;
    top: 24px;
    min-width: 240px;

  }
}